@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Gugi');

body{
    font-family:Gugi;
    background-image:url(https://source.unsplash.com/1600x900/?couple);
    background-size:cover;
}
input{
    border:none;
    background:none;
}
h2{
    font-size:45px;
}
p{
    font-size:25px;
}

#wrap{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
    
}
.background{
    background:rgba(255,255,255,0.5);
    width:100%;
    height:100%;
    position: relative;
}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h2{
    
    font-weight: normal;
}
form{
    
}
.userName{
   
}
.greeting{
    text-align:center;
    display:none;
}
.mateName{
    
    margin-top:30px;
}

.askName{
    display:none;
}
.askMate{
    display:none;
}
.askMateName{
    display:none;
}
.askDate{
    display:none;
}
.reDo{
    display:none;
    text-align: center;
    color:#000;
    font-size:20px;
}
.js-couple{
    display:none;
}
.js-days{
    display: none;
}

.showing{
    display:block;
}
.hiding{
    display:none;
}